<div class="header mat-elevation-z1">Verifique que los datos sean correctos</div>

<div id="estate-map-container" class="map-container mat-elevation-z2"></div>

<div class="download-content">
  Descargue el plano de su predio
  <mat-icon (click)="downloadConstructionPlan()" style="cursor: pointer; vertical-align: middle;">file_download</mat-icon>
</div>

<div class="leyenda-medida">
  <p>La
    información sobre las
    medidas aquí presentada
    puede tener variaciones de
    acuerdo a la información
    presentada en sus
    escrituras</p>
</div>

<div class="footer-section">
  <div style="font-weight: bold;">¿La información es correcta?</div>
  <mat-checkbox>Si, estoy de acuerdo</mat-checkbox>
</div>
