$head-font-family: 'Roboto', sans-serif;;
$foot-font-family: 'Roboto', sans-serif;;

$primary-background-color: #ffffff;
$secondary-background-color: #3d4d65;

$primary-foreground-color: rgba(0, 0, 0, 0.87);
$secondary-foreground-color: #757575;

$accent-color: #6cc04a;
$warn-color: #d32f2f;

$basic-font-family: 'Roboto', sans-serif;
