<div class="header mat-elevation-z1">Indique el objetivo de su trámite</div>

<div style="margin-top: 10px;">
  <mat-radio-group class="radio-group" [(ngModel)]="option">
    <!--mat-radio-button class="radio-button" [value]="1" disabled> Obras de urbanización </mat-radio-button-->
    <mat-radio-button class="radio-button" [value]="2"> Obras de edificación nueva </mat-radio-button>
    <mat-radio-button class="radio-button" [value]="3"> Obras de ampliación de una edificación existente </mat-radio-button>
    <!--mat-radio-button class="radio-button" [value]="4" disabled> Obras de adaptación o remodelación sin ampliar construcción </mat-radio-button>
    <mat-radio-button class="radio-button" [value]="5" disabled> Subdidivir un predio en varias fracciones independientes </mat-radio-button>
    <mat-radio-button class="radio-button" [value]="6" disabled> Modificar las colindancias entre varios predios </mat-radio-button>
    <mat-radio-button class="radio-button" [value]="7" disabled> Constituir un régimen de condominio </mat-radio-button-->
  </mat-radio-group>
</div>
